@using GrpcProxy.Data
@using System.Collections.Immutable

<div class="card" style="margin-bottom: 5px; border-color: deepskyblue">
	<div class="card-header" >
		<div class="row">
			<div class="col"> <b>ProxyId:</b> @Message.Id <b>Path:</b> @Message.Path</div>
			<div class="col-md-auto text-end"><Button class="btn btn-outline-info btn-sm" type="button" @onclick="ToggleDetails">Show</Button></div>
		</div>
	</div>
	<div class="card-body @Collapsible">
		<div>
			@foreach (var message in Message.Chain)
			{
				<ProxyMessageSlimComponent Message="message" />
			}
		</div>
	</div>
</div>

@code {
	[Parameter]
	public ProxyMessageChain Message { get; set; } = new ProxyMessageChain(Guid.Empty, string.Empty, ImmutableArray<ProxyMessage>.Empty);

	private bool isCollapsed = true;

	private string? Collapsible => isCollapsed ? "collapse" : null;

	private void ToggleDetails() => isCollapsed = !isCollapsed;
}
